<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button  menu="primerMenu"> </ion-menu-button>
        </ion-buttons>
    <ion-title>
      Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   <!--mapa-->
    <div id="map1"></div>
  <ion-item>
    <ion-label  position="floating">Latitud</ion-label>
    <ion-input id="lati" type="text" [(ngModel)]="todo.lat"></ion-input>
  </ion-item>
  <ion-item>
      <ion-label  position="floating">Latitud</ion-label>
      <ion-input id="long" type="text" [(ngModel)]="todo.long"></ion-input>
    </ion-item>

  <ion-list lines="full">  
      
    <!--Tarea-->
    <ion-item *ngIf="todo">
        <ion-label position="floating"> Nombre del evento</ion-label>
      <ion-input autofocus="true" required type="text" placholder="Task" [(ngModel)]="todo.task">
      </ion-input>
    </ion-item>
    <!--evento-->
    <ion-item *ngIf="todo">
        <ion-label position="floating"> Descripción del evento</ion-label>
      <ion-input required type="text" placholder="Evento" [(ngModel)]="todo.evento">
      </ion-input>
    </ion-item>
    <!--Imagen del host-->


    <ion-slides  style="width: 182px;"  class="image-slider" scrollbar="true" mode="ios" >
        <ion-slide  *ngFor="let img of eventos" (click)="hostimage(img.imagen)">
            <ion-card button="true"  >
                
              
                <ion-card-content >
                    <img  src="../../assets/icon/{{img.imagen}}" class="thumb-img">
                </ion-card-content>
              </ion-card>
        </ion-slide>
      </ion-slides>


   

      <!--Cantidad usuarios-->
    <ion-item *ngIf="todo">
      <ion-input required type="number" placholder="priority" [(ngModel)]="todo.priority">
      </ion-input>
    </ion-item>

  </ion-list>

  <ion-button expand="full" (click)="saveTodo()">
    Save
  </ion-button>

  <ion-fab vertical=" bottom" horizontal="end" slot="fixed" color="danger">
    <ion-fab-button
      color="danger"
      routerLink="/home"
      routerDirection="forward"
      (click)="onRemove(todoId)"
    >
      <ion-icon name="trash"> </ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
